<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->

<configuration>

  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>

  <!-- connectionStrings 시작 -->
  <connectionStrings>
    <add name="Default" providerName="System.Data.SqlClient" connectionString="Password=ProjectS2013;User ID=sa;Initial Catalog=THE100;Data Source=www.mononumb.com,1433" />
  </connectionStrings>
  <!-- connectionStrings 끝 -->

  <!-- DEFAULT DATABASE 시작 -->
  <dataConfiguration defaultDatabase="Default"/>
  <!-- DEFAULT DATABASE 끝 -->

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
    
  <appSettings>
    <add key="GmailID" value="jounh135@gmail.com"/>
    <add key="GmailPW" value="hs0601love2"/>
  </appSettings>

</configuration>
